<ion-view view-title="Account">
  <ion-content>
    <ion-list>
    <ion-toggle  ng-model="account.settings">
        {{account.settings}}
    </ion-toggle>
	<button class="button button-block button-dark" ng-click="openModal()">Abrir Modal</button>
    </ion-list>
  </ion-content>
</ion-view>
